{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    semi: [2, "never"],
    "comma-style": [2, "last"],
    "comma-dangle": "always-multiline",
    // Strict mode
    "strict": [2, "never"],

    // Code style
    "indent": [2, 2],
    "quotes": [2, "single"]
  }
}
