---
title: Retro Game Night
---
div.row
  div.col-sm-12
    h3.text-center Let's make this shit.
div.row
  div.col-sm-4
    h5.text-center Score Box Name
    table.table.table-hover
      tr
        th Player
        th Score
      tr
        td Simon Belmont
        td 10
      tr 
        td Navi
        td 20